/* Box sizing reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global layout */
body {
  font-size: 1.4em;
  font-family: Calibri, Carlito, sans-serif;

  background-color: #eee;

  padding: 0px;
  margin: 0px;
}

.paper {
  background-color: white;

  margin: 1em auto;
  max-width: 1200px;
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);

  padding: 0.5em 2em;
}

@media screen and (max-width:1200px) {
  .paper {
    margin: 0px auto;
  }
}

@media screen and (max-width:1000px) {
  .paper {
    padding: 10px 10px;
  }
}

/* Details of the calculator */
.presets {
  padding-left: 1em;
}

input.number {
  width: 5em;
  font-size: 1em;
  font-family: inherit;
}

label.lb, label.ub {
  color:#555;
  font-style: italic;
}


p.dpar {
  border: 1px solid #0077aa;
  background-color: #ddeeff;
}
