/* ev-calc, Pierre Haessig, 2019, CC-BY 4.0 */

/* Box sizing reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global layout */
body {
  /*font-size: 1.2em;*/
  font-family: Roboto, sans-serif;

  background-color: #eee;

  padding: 0px;
  margin: 0px;
}

.paper {
  background-color: white;

  margin: 1em auto;
  max-width: 1200px;
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);

  padding: 0.5em 2em;
}

@media screen and (max-width:1200px) {
  .paper {
    margin: 0px auto;
  }
}

@media screen and (max-width:1000px) {
  .paper {
    padding: 10px 10px;
  }
}

footer {
  font-size: 0.8em;
  color: #777;
  text-align: center;

  margin-top: 1.5em;
  border-top: 1px solid #777;
}

footer a {
  color: inherit;
}

/* Layout of the calculator */
h1 {
  font-weight: 300;
}

h2 {
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: -0.5em;
}

.hypothesis h3,
.hypothesis h4,
.result h3 {
  font-size: 1em;
  margin-left: -1em;
  margin-top: 0px;
  margin-bottom: 10px;
}

.hypothesis h4 {
  font-weight: normal;
}

div.hypothesis {
  margin: 1em 0;
  border-left: 1px solid #0000cc;
  padding: 5px;
  padding-left: 1.5em;
  background-color: #eef7ff;
  overflow-y: auto;
  /* replaces empty <div> with clear:both; for help-boxes
   *  cf. https://css-tricks.com/all-about-floats/        */
}

div.sub-hypothesis:not(:last-child) {
  margin-bottom: 1em;
}

div.result {
  margin: 1em 0;
  border-left: 1px solid #aa0058;
  padding: 5px;
  padding-left: 1.5em;
  background-color: #ffeef7;
}

div.final-result {
  border: 1px solid #aa0058;
  position: -webkit-sticky; /*Prefix still needed for Safari https://developer.mozilla.org/en-US/docs/Web/CSS/position#Browser_compatibility */
  position: sticky;
  bottom: 0;
}

.result ul {
  margin: 0px;
  padding: 0px;
}

.result li {
  list-style: circle inside;
}

.result li h4 {
  display: inline-block;
  margin: 0;
  width: 4em;
}
/* Details of the calculator */

input.nom {
  /*margin-left: 1em;*/
}

.unit {
  display: inline-block;
  width: 6em;
}

input.number {
  width: 4em;
  font-size: 1em;
  font-family: inherit;
}

label.lb, label.ub {
  color:#555;
  font-style: italic;
}

/* Help boxes */

.help-box {
  border: solid 1px #0000cc;
  margin-top: 10px;
  padding: 5px;
}

.help-box.hidden {
  border: none;
  float: right;
  margin-top: 0;
  padding: 0;
}

/* Help buttons */
button.help-btn {
  background-color: #cde7ff;
  border: solid 1px #0000cc;
  float: right;
  font-family: inherit;
  font-size: 1rem;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
}

button.help-btn::-moz-focus-inner {
  border: 0; /* Remove the default outline when focused */
}

button.help-btn:hover,
button.help-btn:focus {
  background-color: #e1f1ff;
}

button.help-btn:focus {
  outline: 1px dotted #0000cc;
  outline-offset: -4px;
}

button.help-btn:active {
  background-color: white;
  transform:  scale(0.99);
}

.help-text p {
  margin: 0.5em 0;
}

.help-text p:first-child {
  margin-top: 0;
}

.presets {
  /*padding-left: 1em;*/
  margin-top: 10px;
}

.presets button {
  font-size: 1em;
  font-family: inherit;
}

.hidden .help-text {
  display: none;
}

/* Animate changed values */

.changed {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: blink-changed;
}

@keyframes blink-changed {
  from {
    box-shadow: 0 0 8px #00dd77;
  }
  to {
    box-shadow: 0 0 0 #00dd77;
  }
}
