/* Box sizing reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Global layout */
body {
  font-size: 1.4em;
  font-family: Calibri, Carlito, sans-serif;

  background-color: #eee;

  padding: 0px;
  margin: 0px;
}

.paper {
  background-color: white;

  margin: 1em auto;
  max-width: 1200px;
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);

  padding: 0.5em 2em;
}

@media screen and (max-width:1200px) {
  .paper {
    margin: 0px auto;
  }
}

@media screen and (max-width:1000px) {
  .paper {
    padding: 10px 10px;
  }
}

/* Layout of the calculator */
div.hypothesis {
  margin: 1em 0;
  border-left: 1px solid #0000aa;
  padding: 5px;
  padding-left: 1.5em;
  background-color: #eef7ff;
}

/* Details of the calculator */

label.nom {
  display: block;
  margin-left: -1em;
  margin-bottom: 10px;
  font-weight: bold;
}

input.nom {
  /*margin-left: 1em;*/
}

.unit {
  display: inline-block;
  width: 7em;
}

.presets {
  /*padding-left: 1em;*/
  margin-top: 10px;
}

input.number {
  width: 5em;
  font-size: 1em;
  font-family: inherit;
}

label.lb, label.ub {
  color:#555;
  font-style: italic;
}


p.dpar {
  border: 1px solid #0077aa;
  background-color: #ddeeff;
}

/* Animate changed values */

.changed {
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: blink-changed;
}

@keyframes blink-changed {
  from {
    box-shadow: 0 0 8px #00dd77;
  }
  to {
    box-shadow: 0 0 0 #00dd77;
  }
}
